@import "tailwindcss";

:root {
  --background: #eff1f5;
  /* Latte background */
  --foreground: #4c4f69;
  /* Latte text */
  --accent: #d20f39;
  /* Accent red */
  --muted: #9ca0b0;
  /* Subtle text */
  --link: #1e66f5;
  /* Blue link */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e2e;
    /* Mocha background */
    --foreground: #cdd6f4;
    /* Mocha text */
    --accent: #f38ba8;
    /* Pink accent */
    --muted: #7f849c;
    /* Soft gray text */
    --link: #89b4fa;
    /* Sky blue */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Fira Code, monospace;
}
